# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore IDE-specific files (like VSCode settings)
.vscode/
.DS_Store

# Ignore production build files (if you build a production version locally)
dist/
.vercel
